Package: x11vnc-service
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: x11vnc
Maintainer: Rubén Cancho <r.cancho@edu.gva.es>
Description: Paquete para configurar x11vnc como un servicio

